@font-face
{
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Glacial';
    src: url('../fonts/glacial/GlacialIndifference-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Norwester';
    src: url('../fonts/norwester/norwester.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Montserrat';
    src: url('../fonts/montserrat/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'Algerian';
    src: url('../fonts/algerian/Algerian\ Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
*
{
    box-sizing: border-box;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}
body
{
    margin: 0;
}
::selection,::-moz-selection
{
    background: lightblue;
}