<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8">
        <meta property="og:image" content="../static/img/icon-square.png">
        <meta name="description" content="Contact N Fit's customer support team by e-mail and tell us about your inquiries">
        <meta name="keywords" content="nfit contact us, contact us nfit, nfit customer support, customer support nfit">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Contact us - N Fit</title>
        <link rel="icon" href="../static/img/icon.png">
        <link rel="stylesheet" type="text/css" href="../static/css/main-style.css">
        <link rel="stylesheet" type="text/css" href="../static/css/top-nav.css">
        <link rel="stylesheet" type="text/css" href="../static/css/send-feedback.css">
        {% if g.ip['user-id'] != 0 %}
        <style>
            .profile
            {
                background-image: url('../static/img/icons/signin-tr.png');
            }
        </style>
        {% else %}
        <style>
            .profile
            {
                background-image: url('../static/img/icons/account-tr.png');
            }
        </style>
        {% endif %}
        {% if g.ip['cookies'] %}

        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '389532615472007');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
        src="https://www.facebook.com/tr?id=389532615472007&ev=PageView&noscript=1"
        /></noscript>
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EN1TT6XH8F"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-EN1TT6XH8F');
        </script>

        {% endif %}
        <!-- Search Style -->
        <link rel="stylesheet" type="text/css" href="../static/css/search.css">
        <style>
            #ngun-classic
            {
                background-image: url('{{g.product["1"]["thumbnail"]}}');
            }
            #ngun-mini
            {
                background-image: url('{{g.product["2"]["thumbnail"]}}');
            }
            #ngun-pro
            {
                background-image: url('{{g.product["3"]["thumbnail"]}}');
            }
            #neck-massager
            {
                background-image: url('{{g.product["4"]["thumbnail"]}}');
            }
        </style>
        <!-- End Search Style -->
        <link rel="stylesheet" type="text/css" href="../static/css/cookies.css">
    </head>
    <body>
        <div class="wrapper">

            {% if g.ip['cookies-message'] %}
            <div class="cookies-wrapper">
                <div class="cookies-message">
                    We use cookies on our websites for a number of purposes, 
                    including analytics, performance and website functionality. 
                    <a href="/privacy-policy#cookies">Learn more about N Fit’s use of cookies.</a>
                </div>
                <div class="opts">
                    <a class="opt" href="/reject?cookies=0&page=contact_us">Reject non-essential</a>
                    <a class="opt" href="/reject?cookies=1&page=contact_us" onclick="hideCookies()">Accept all</a>
                </div>
            </div>
            {% endif %}

            <div class="dimcho"></div>


            {% if Sent == 1 %}
            <div class="top-nav2">
                {% if Sent == 1 %}
                Successfully sent!
                {% endif %}
            </div>
            {% endif %}
            {% if Sent == 2 %}
            <div class="top-nav3">
                {% if Sent == 2 %}
                Please wait 30 minutes before emailing us again!
                {% endif %}
            </div>
            {% endif %}
            <!-- TOP NAVIGATION !-->
            <nav class="top-nav">
                <a href="/"><li id="logo" class="top-nav-items"></li></a>
                <li class="top-nav-items text-items"><a href="/{{g.product['1']['menu-code']}}">{{g.product['1']['menu-name']}}</a></li>
                <li class="top-nav-items text-items"><a href="/{{g.product['2']['menu-code']}}">{{g.product['2']['menu-name']}}</a></li>
                <li class="top-nav-items text-items"><a href="/{{g.product['3']['menu-code']}}">{{g.product['3']['menu-name']}}</a></li>
                <li class="top-nav-items text-items"><a href="/{{g.product['4']['menu-code']}}">{{g.product['4']['menu-name']}}</a></li>
                <li class="top-nav-items text-items"><a href="/all-products">All Products</a></li>
                <li id="search" class="top-nav-items" onclick="opensearch()"></li>
                <li class="top-nav-items search-field">
                    <form onsubmit="return validateSearch()" class="search-formec">
                        <input oninput="searchFunc(0)" type="search" class="search-input" name="Search" placeholder="Search N Fit...">
                        <input type="submit" value="Submit" style="display: none;">
                        <div class="search-box">
                            {% for i in range(1,5) %}
                            <a style="color: black;" class="prod-box" href="/{{g.product[i|string]['menu-code']}}">
                                <div id="{{g.product[i|string]['menu-code']}}" class="prod-img"></div>
                                <div class="prod-text">
                                    {{g.product[i|string]['name']}}
                                    <br>
                                    £ {{g.product[i|string]['total']}}
                                    <input type="hidden" class="search-keywords" value="{{g.product[i|string]['menu-name']}}">
                                </div>
                                
                            </a>
                            {% endfor %}
                        </div>
                    </form>
                </li>
                <li id="bag" class="top-nav-items" onclick="opencart()">
                    <aside class="triangle"></aside>
                    {% if g.wishlist['count'] + g.bag['count'] != 0 %}
                    <div class="bag-num">
                        {{g.wishlist['count'] + g.bag['count']}}
                    </div>
                    {% endif %}
                    
                </li>
            </nav>

            
            {% if Sent == 1 %}
            <div class="top-nav2-mobile">
                {% if Sent == 1 %}
                Successfully sent!
                {% endif %}
            </div>
            {% endif %}
            {% if Sent == 2 %}
            <div class="top-nav3-mobile">
                {% if Sent == 2 %}
                Please wait 30 minutes before emailing us again!
                {% endif %}
            </div>
            {% endif %}
            <!-- MOBILE !-->
            <nav class="top-nav-mobile">
                <li id="linebar" class="top-nav-items" onclick="openmenu()"></li>
                <a href="/"><li id="logo" class="top-nav-items"></li></a>
                <li id="bag" class="top-nav-items" onclick="opencart()">
                    {% if g.wishlist['count'] + g.bag['count'] != 0 %}
                    <div class="bag-num">
                        {{g.wishlist['count'] + g.bag['count']}}
                    </div>
                    {% endif %}
                </li>
            </nav>
            <aside class="buttons-mobile">
                <li class="top-nav-items search-field">
                    <div class="search-img"></div>
                    <div class="search-box">
                        {% for i in range(1,5) %}
                        <a style="color: black;" class="prod-box" href="/{{g.product[i|string]['menu-code']}}">
                            <div id="{{g.product[i|string]['menu-code']}}" class="prod-img"></div>
                            <div class="prod-text">
                                {{g.product[i|string]['name']}}
                                <br>
                                £ {{g.product[i|string]['total']}}
                                <input type="hidden" class="search-keywords" value="{{g.product[i|string]['menu-name']}}">
                            </div>
                            
                        </a>
                        {% endfor %}
                    </div>
                    <form onsubmit="return validateSearch()" class="search-formec">
                        <input oninput="searchFunc(1)" type="search" class="search-input" name="Search" placeholder="Search N Fit...">
                        <input type="submit" value="Submit" style="display: none;">
                    </form>
                </li>
                <li class="top-nav-items text-items" style="border-top: none;"><a href="/{{g.product['1']['menu-code']}}">{{g.product['1']['menu-name']}}</a></li>
                <li class="top-nav-items text-items"><a href="/{{g.product['2']['menu-code']}}">{{g.product['2']['menu-name']}}</a></li>
                <li class="top-nav-items text-items"><a href="/{{g.product['3']['menu-code']}}">{{g.product['3']['menu-name']}}</a></li>
                <li class="top-nav-items text-items"><a href="/{{g.product['4']['menu-code']}}">{{g.product['4']['menu-name']}}</a></li>
                <li class="top-nav-items text-items"><a href="/all-products">All Products</a></li>
            </aside>

            
            <!-- CART !-->
            <aside class="cart-menu">
                {% if g.bag['count'] != 0 %}
                <div class="cart-menu-items" id="your-bag">You have {{g.bag['count']}} 
                    {% if g.bag['count'] == 1 %}
                    item
                    {% else %}
                    items
                    {% endif %}
                    in your bag.</div>
                {% else %}
                <div class="cart-menu-items" id="your-bag">Your Bag is empty.</div>
                {% endif %}
                <div class="cart-menu-items"><a href="/bag">
                    <div class="cart-img mini-b">
                        {% if g.wishlist['count'] + g.bag['count'] != 0 and g.bag['count'] != 0 %}
                        <div class="m-b">
                            {{g.bag['count']}}
                        </div>
                        {% endif %}
                    </div>Bag</a></div>
                <div class="cart-menu-items"><a href="/wishlist">
                    <div class="cart-img w-list">
                        {% if g.wishlist['count'] + g.bag['count'] != 0 and g.wishlist['count'] != 0 %}
                        <div class="w-l">
                            {{g.wishlist['count']}}
                        </div>
                        {% endif %}
                    </div>Wishlist</a></div>
                <div class="cart-menu-items">
                    <a href="/account">
                        <div class="cart-img profile"></div>
                        {% if g.ip['user-id'] != 0 %}
                        {{g.user['first-name']}} {{g.user['last-name'][0]}}.
                        {% else %}
                        Account
                        {% endif %}
                    </a>
                </div>
                {% if g.ip['user-id'] != 0 %}
                <div class="cart-menu-items"><a href="/sign-out"><div class="cart-img s-out"></div>Sign out</a></div>
                {% else %}
                <div class="cart-menu-items"><a href="/sign-in"><div class="cart-img s-in"></div>Sign in</a></div>
                {% endif %}
            </aside>


            <!-- MAIN !-->
            <div class="content">
                <form name="send-feedback" class="form" action="" method="POST" onsubmit="return validate3()" style="overflow: hidden;">
                    <legend class="legend">Contact us</legend>
                    <div class="something-missing">&#9888; Required Field.</div>
                    <div class="names">
                        <div class="sub">
                            {% if g.ip['user-id'] != 0 %}
                            <input id="fname" class="input" name="first-name" type="text" placeholder="First Name" onfocusout="focusOut(fname, fname_missing)" value="{{g.user['first-name']}}">
                            {% else %}
                            <input id="fname" class="input" name="first-name" type="text" placeholder="First Name" onfocusout="focusOut(fname, fname_missing)">
                            {% endif %}
                            <div class="fname-missing">&#9888; Required Field.</div>
                        </div>
                        <div class="sub">
                            {% if g.ip['user-id'] != 0 %}
                            <input id="lname" class="input" name="last-name" type="text" placeholder="Last Name" onfocusout="focusOut(lname, lname_missing)" value="{{g.user['last-name']}}">
                            {% else %}
                            <input id="lname" class="input" name="last-name" type="text" placeholder="Last Name" onfocusout="focusOut(lname, lname_missing)">
                            {% endif %}
                            <div class="lname-missing">&#9888; Required Field.</div>
                        </div>
                    </div>
                    <div class="emails">
                        {% if g.ip['user-id'] != 0 %}
                        <input id="email" class="input" name="sign-up-email" type="email" placeholder="Email" onfocusout="focusOut(email, email_missing)" value="{{g.user['email-address']}}">
                        {% else %}
                        <input id="email" class="input" name="sign-up-email" type="email" placeholder="Email" onfocusout="focusOut(email, email_missing)">
                        {% endif %}
                        <div class="email-missing">&#9888; Required Field.</div>
                    </div>
                    <div class="feedbacks">
                        <textarea id="feedback" class="input" name="feedback" rows="10" placeholder="Write your comment here..." onfocusout="focusOut(feedback, feedback_missing)" style="resize: vertical;"></textarea>
                        <div class="feedback-missing">&#9888; Required Field.</div>
                    </div>
                    <div class="butts">
                        <div class="sign-in-instead"><a href="/">Back to N Fit</a></div>
                        <button class="button" type="submit">Submit</button>
                    </div>
                </form>
            </div>

            
        </div>

        
        <!-- SCRIPTS !-->
        <script language="javascript" type="text/javascript" src="../static/js/index.js"></script>
        <script language="javascript" type="text/javascript" src="../static/js/main.js"></script>
        <script language="javascript" type="text/javascript" src="../static/js/top-nav-search-submit.js"></script>
        <script language="javascript" type="text/javascript" src="../static/js/send-feedback.js"></script>


        <script language="javascript" type="text/javascript" src="../static/js/search.js"></script>
    </body>
</html>